.content {
    padding-top: 80rpx;

    .name {
        font-size: 38rpx;
        text-align: center;
        margin-bottom: 80rpx;
    }

    .text {
        font-size: 30rpx;
        color: #5d5d5d;
        text-align: center;
        margin: 40rpx 0;
    }

}