.content {
    margin-bottom: 40rpx;

    .action-content {
        flex-shrink: 0;
        padding: 50rpx 50rpx 30rpx;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 30rpx;

        .tab {
            display: flex;

            &-item {
                margin-right: 30rpx;
                padding: 10rpx 20rpx;
                color: #acabab;
                background: #f7f7f7;
                border-radius: 4px;

                &.expenses {
                    background: #eef8f3;
                    color: $canbin-expenses-color;
                }

                &.income {
                    background: #fff5e1;
                    color: $canbin-income-color;
                }

            }

        }

        .total {
            font-size: 30rpx;
            font-weight: bold;
            max-width: 350rpx;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    }

    .list {
        padding: 0 30rpx;

        .list-item {
            display: flex;
            align-items: center;
            padding: 25rpx;
            border-bottom: 1px solid #ececec;

            .icon {
                width: 70rpx;
                height: 70rpx;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;

                &.expenses {
                    background: $canbin-expenses-color;
                }

                &.income {
                    background: $canbin-income-color;
                }

                image {
                    width: 45rpx;
                    height: 45rpx;
                }

            }

            .item-content {
                flex-grow: 1;
                margin-left: 25rpx;

                .tag-name {
                    font-size: 28rpx;
                    margin-bottom: 5rpx;
                }

                .remark {
                    font-size: 24rpx;
                    color: #7e7e7e;
                }

            }

            .info {
                flex-shrink: 0;
                margin-left: 10rpx;

                .amount {
                    font-size: 30rpx;
                    font-weight: bold;
                    text-align: right;
                    margin-bottom: 5rpx;
                }

                .bill-time {
                    font-size: 24rpx;
                    color: #7e7e7e;
                    text-align: right;
                }

            }

        }

    }

    .loading-content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30rpx;
    }

}