.content {
    height: 100%;
    background-color: #fff;
    margin-top: 20rpx;

    .cell {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(235, 237, 240);
        height: 120rpx;
        padding: 0 40rpx;
        font-size: 32rpx;

        .label {
            width: 100rpx;
            flex-shrink: 0;
        }

        .value {
            flex-grow: 1;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            .avatar-wrapper {
                width: 80rpx !important;
                padding: 0;
                margin: 0;
                border-radius: 100%;
                overflow: hidden;

                &::after {
                    border: none;
                }

                image {
                    display: block;
                    width: 80rpx;
                    height: 80rpx;
                }

            }

            .input {
                text-align: right;
                margin-right: 10rpx;
            }

        }

    }

    .button {
        color: #fff;
        border: 0;
        border-radius: 10rpx;
        font-size: 35rpx;
        line-height: 1.3;
        padding: 20rpx 75rpx;
        margin: 40rpx 30rpx;
        background: $canbin-expenses-color;
    }

}