view {
	display: block;
	box-sizing: border-box;
}

.default-hover-class {
	opacity: 0.8 !important;
}

.gray-hover-class {
	background: #e5e5e5 !important;
}

.expenses-hover-class {
	background: #c3ccc7;
}

.income-hover-class {
	background: #bbb4a6;
}