view {
	display: block;
	box-sizing: border-box;
}

view,
text,
scroll-view {
	box-sizing: border-box;
}

image {
	width: 100%;
	display: block;
}

button::after {
	display: none;
}

.default-hover-class {
	opacity: 0.8 !important;
}

.gray-hover-class {
	background: #e5e5e5 !important;
}

.expenses-hover-class {
	background: #c3ccc7;
}

.income-hover-class {
	background: #bbb4a6;
}