.content {
    background: #fafafa;

    .title {
        height: 100rpx;
        line-height: 100rpx;
        text-align: center;
        font-size: 32rpx;
    }

    .tab {
        height: 100rpx;
        display: flex;
        align-items: center;
        font-size: 30rpx;

        &-item {
            flex-grow: 1;
            text-align: center;

            &.active {
                color: #3eb575;
            }

        }

    }

    .container {
        height: 600rpx;
        overflow-y: scroll;
        padding: 0 40rpx 40rpx;
        font-size: 28rpx;

        .year {
            text-align: center;
            margin: 15rpx 0;
            color: #acabab;
        }

        .grid {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .grid-item {
                padding: 20rpx 0;
                margin: 10rpx;
                width: 146rpx;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ffffff;
                cursor: pointer;
                border-radius: 4px;

                &.active {
                    color: #fff;
                    background: $canbin-expenses-color;
                }

            }

        }

    }

}