.content {
    background: #fafafa;

    .title {
        height: 100rpx;
        line-height: 100rpx;
        text-align: center;
        font-size: 32rpx;
    }

    .tag-content {
        height: 700rpx;
        overflow: scroll;
        padding: 0 40rpx 40rpx;
        font-size: 28rpx;

        .tag-type {
            margin: 30rpx 30rpx 10rpx;
            color: #acabab;
        }

        .tag-list {
            display: flex;
            flex-wrap: wrap;

            .tag-item {
                padding: 20rpx 0;
                margin: 10rpx;
                width: 203rpx;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #ffffff;
                cursor: pointer;
                border-radius: 4px;

                &.active {
                    color: #ffffff;
                    background: $canbin-expenses-color;
                }

            }

        }

    }

}