.content {
    padding-top: 160rpx;

    .header {
        position: fixed;
        z-index: 30;
        width: 100%;
        top: 0;
        left: 0;
        color: #ffffff;
        height: 80rpx;
        padding: 0 40rpx;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        background: $canbin-expenses-color;

        &-item {
            display: flex;
            align-items: center;

            .tab {
                font-size: 32rpx;
                margin-left: 30rpx;
                padding: 10rpx 20rpx;
                color: #ffffff;
                border-radius: 3px;

                &-selected {
                    background: #54c486;
                }

            }

        }

    }

}